@import '../const';

.ei-button {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: $font-nunito;

  &-content {
    font-size: 16px;
  }

  @media (max-width: 576px) {
    &-content {
      font-size: $font-size-standart
    }
  }
}

.ei-button-icon {
  border: 1px solid rgba($purple, 0.1);
  border-radius: 7px;
  background-color: $dark-white;
  color: $font-color-grey;
  transition: background-color .3s, color .3s;

  &:hover {
    background-color: #ffffff;
    color: $font-color-purple;
  }
}

.ei-button-with-icon {
  width: 100%;

  .ei-button-content {
    margin-left: .5rem;
  }
}

.ei-button-flat {
  background-color: rgba($font-color-purple, 0) !important;
  border: 1px solid rgba($font-color-purple, 0.4) !important;
  border-radius: 7px;
  color: $font-color-purple !important;
  transition: background-color .3s, color .3s !important;
  font-weight: 700;
  letter-spacing: 0.06rem;

  & > .ei-button-content {
    font-size: inherit;
  }

  &:hover {
    color: $dark-white !important;
    background-color: rgba($font-color-purple, 1) !important;
  }
}

.ei-button-standart {
  background-color: $font-color-purple !important;
  border: 1px solid rgba($font-color-purple, 0.4);
  border-radius: 7px;
  color: $dark-white !important;
  font-weight: 700;
  letter-spacing: 0.06rem;
  transition: background-color .3s !important;

  & > .ei-button-content {
    font-size: inherit;
  }

  &:hover {
    background-color: rgba($font-color-purple, 0.8) !important;
  }
}

.ei-button-default {
  color: $font-color-d-grey;
  transition: color .3s;

  &:hover {
    color: $font-color-purple;
  }
}

.disable-hover {
  transition: background-color 0s !important;
  &:hover {
    background: transparent !important;
  }
}

.ei-button-icon-size-st {
  font-size: 22px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ei-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.confirm-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFF2CD;
  color: #856404;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  transition: background-color .3s, color .3s;

  .icon {
    margin-right: .5rem;
  }

  &:hover {
    background-color: rgb(255, 230, 161) !important;
    color: $font-color-purple;
  }
}
