@import '../const';

.ei-table {
    display: flex;
    flex-direction: column;

    .table {
        height: 100%;
        width: 100%;
        
        &-content {
            overflow: hidden;
            height: 87%;
            
            table {
                border-collapse: collapse;
                white-space: normal;
                width: 100%;
                min-width: 360px;

                thead {
                    height: 30px;
                    background-color: #ffffff;
                    user-select: none;

                    th {
                        color: $font-color-d-grey;
                        font-weight: 500;
                        padding: 0 0.5rem;
                        height: 30px;

                        .header-ceil {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .sort-icon {
                            font-size: 14px;
                            margin-left: 0.3rem;
                        }

                        .sort-mode {
                            display: inline;
                            color: rgba($font-color-purple, 0.8);

                            .sort-icon {
                                color: rgba($font-color-purple, 1);
                            }
                        }
                    }
                }

                tbody {
                    font-size: $font-size-standart;

                    .table-row {
                        cursor: default;
                        box-shadow: 1px -1px 15px 0px rgba(#000000, 0);
                        transition: 0.15s box-shadow ease-in;

                        &:nth-child(2n) {
                            background: rgba(0, 0, 0, 0.03);
                        }

                        &:hover {
                            box-shadow: 1px -1px 15px 0px rgba(#616161, .2);
                        }

                        td {
                            text-align: center;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            padding: 0.5rem;
                        }
                    }

                }
            }
        }

        .pagination {
            height: 13%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            user-select: none;

            &-list {
                display: flex;
                list-style-type: none;
                padding: 0;
                margin: 0;
                border: 1px solid rgba($font-color-purple, 0.1);
                border-radius: 3px;
                padding: 0.1rem;
                transition: border .3s;

                &-item {
                    padding: 0 .63rem;
                    transition: background-color .3s, color .3s;
                    border-radius: 3px;
                    cursor: pointer;

                    &:hover {
                        background-color: $font-color-purple;
                        color: $white;
                    }
                }

                &:hover {
                    border: 1px solid rgba($font-color-purple, 0.5);
                }

                .active-item {
                    background-color: $font-color-purple;
                    color: $white;
                }
            }

            .ei-button {
                margin: 0 0.5rem;
                width: 30px;
                height: 30px;
                background: transparent;
                transition: border .3s;

                &:hover {
                    border: 1px solid rgba($font-color-purple, 0.5);
                }
            }
        }

        @media (max-width: 576px) {
            &-content {
                table {
                    thead>th {
                        font-size: $font-size-standart;
                        font-weight: 500;
                        color: $font-color-grey;
                    }

                    tbody {
                        font-size: 0.75rem;
                    }
                }
            }
        }

        @media (max-width: 400px) {
            &-content {
                overflow: scroll;
            }

            .pagination {
                .count {
                    display: none;
                }   
            }
        }
    }

    .ei-table-filter {
        display: flex;
        width: 100%;
        padding: 1rem;
        padding-top: 0;
        flex-direction: column;
        
        .label {
            font-size: 1.2rem;
            color: $font-color-grey;
            margin: 0 0.5rem;

            &-icon {
                color: $font-color-purple;
            }
        }

        .templates {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            max-height: 0;
            transition: max-height .3s ease-in-out;

            .filter {
                display: flex;
                align-items: center;

                .date-picker {
                    margin-left: 0.5rem;
                    input {
                        cursor: pointer;
                    }
                }

                .default-btn {
                    margin-left: 1rem;
                    padding: 0.4rem;
                    width: 100px;
                }
            }
        }

        .border {
            position: relative;
            width: 100%;
            margin: 10px 0;
            clear: both;
            display: flex;
            align-items: center;
            justify-content: center;

            .left {
                width: 100%;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
            }

            .text {
                background: transparent;
                position: relative;
                white-space: nowrap;
                padding: 0 12px;
                font-size: $font-size-standart;
                cursor: pointer;
                transition: color .3s;
                font-weight: $font-weight-large;

                .icon {
                    margin-left: .5rem;
                    transition: transform .3s;
                }

                &:hover {
                    color: $font-color-purple;
                }
            }

            .triggered {
                color: $font-color-purple;
                .icon {
                   transform: rotateZ(180deg);
                }
            }

            .right {
                width: 100%;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
}