@import '../const';

.ei-sidebar {
  position: absolute;
  background: $dark-white;
  border-right: 1px solid rgba($purple, 0.1);
  overflow: hidden;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 999;
  transition: transform 450ms ease, width 450ms ease;
  cursor: default;

  .ei-menu-text {
    padding: .3rem 32px .3rem 32px;
    font-weight: $font-weight-xl;
    line-height: 1.2;
    letter-spacing: 0.15rem;
    font-size: $font-size-small;
    color: $font-color-default;
    text-transform: uppercase;
  }
  
  &-header {
    padding: .625rem 32px .625rem 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    
    .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .trigger {
        color: $font-color-grey;
        width: 35px;
        height: 35px;
        padding: .4rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        visibility: hidden;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
  
        &:hover {
          color: $font-color-purple;
        }

        & > svg {
          z-index: 2;
        }
  
        &::before {
          position: absolute;
          z-index: 1;
          height: 20px;
          width: 20px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transform-origin: 50% 50%;
          content: '';
          background-color: #e5e9f2;
          border-radius: 50%;
          opacity: 0;
          transition: all .3s;
        }
  
        &:hover::before {
          opacity: 1;
          height: 116%;
          width: 116%;
        }
      }

      .ei-sidebar-header-logo {
        // max-width: 120px;
        // max-width: 120px;
        width: 180px;
        // max-height: 80px;
        height: 50  px;
        // max-height: 64px;
      }
    }
  }

  &-body {
    position: relative;

    .simplebar-content {
      padding-bottom: .25rem !important;
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      height: calc(100vh - 65px);
    }

    .simplebar-track.simplebar-vertical {
      visibility: hidden !important;
    }

    .simplebar-track.simplebar-horizontal {
      visibility: hidden !important;
    }
  }

  &-user {
    padding: 0.5rem 0;

    &-content {
      padding: .625rem 32px .625rem 32px;
      .balance {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
          color: $font-color-purple;
          font-weight: $font-weight-standart;
        }
      }
      
      .plan {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > span {
          color: $font-color-default;
          font-weight: $font-weight-standart;
          font-size: $font-size-standart;
        }

        .plan-name {
          text-decoration: solid;
          color: $font-color-grey;
          font-weight: $font-weight-standart;
        }
      }

      .links {
        display: flex;
        justify-content: space-between;
        font-size: 12px;

        .buy-more, .profile {
          padding: .5rem 0;

          .ei-button-content {
            margin: 0;
          }
        }

        .buy-more {
          padding-right: .5rem;
          width: 55%;
        }

        .profile {
          width: 45%;
        }
      }
    }
  }

  &-content {
    padding: 0 2rem;
    padding-top: 1rem;

    .menu {
      list-style: none;
      margin: 0;
      padding: 0;

      &-item {
        padding: 2px 0;

        & > a {
          padding: .625rem 24px .625rem 24px;
          display: flex;
          align-items: center;
          position: relative;
          border-radius: 40px;
          transition: color .3s, background-color .3s;
          font-size: 15px;
          color: $font-color-d-grey;
          font-weight: $font-weight-xl;
          font-family: $font-nunito;
          letter-spacing: 0.06rem;
          text-transform: none;
          line-height: 1.25rem;

          .icon {
            font-size: 24px;
            width: 36px;
          }

          &:hover {
            background-color: #ffffff;
            color: $font-color-purple;
          }
        }

        & > .item-active {
          background-color: #ffffff;
          color: $font-color-purple;
        }
      }
    }
  }
}

.ei-sidebar-fixed {
  position: fixed;
  max-height: 100vh;
}

@media (min-width: 1200px) {
  .ei-sidebar-full {
    transform: translateX(0);
    width: 340px;
  }
}

@media (max-width: 1200px) {
  .ei-sidebar-mobile-active {
    transform: translateX(0);
    width: 290px !important;
  }

  .ei-sidebar > .ei-sidebar-header > .wrapper > i {
    visibility: visible !important;
  }

  .ei-sidebar > .ei-sidebar-header {
    border-bottom: 1px solid rgba($purple, 0.1);
    background-color: #f5f6fa;
  }
}