@import '../const';

.apiusage {
    &-top {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2rem;

        &-chart {
            width: 60%;
            margin-right: 2rem;
            
            .ei-group-buttons {
                padding-bottom: .5rem;
                justify-content: center;
            }
        }

        &-stat {
            width: 40%;

            .stat-body {
                display: flex;
                flex-wrap: wrap;

                &-block {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 1.3rem;
                    background-color: #ffffff;
                    box-shadow: 0 3px 12px 1px rgba(44, 55, 130, 0.05);
                    border-radius: 3px;
                    margin: .5rem;
                    user-select: none;
                    transition: transform .3s, color .3s linear;
                    

                    .header {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        border: solid 10px transparent;
                        border-radius: 50%;
                        background-image: linear-gradient(white, white), radial-gradient(circle at top left, $font-color-default, $purple);
                        background-origin: border-box;
                        background-clip: content-box, border-box;

                        .text {
                            text-align: center;
                            display: flex;
                            padding: 0 1rem;
                            flex-direction: column;
                            color: $font-color-black;
                            font-size: .8rem;
                            font-weight: 600;

                            .count {
                                font-size: 1.45rem;
                                font-weight: 500;
                            }
                        }
                    }

                    &:nth-child(2n) {
                        background: $font-color-black;
                        .header {
                            background-image: linear-gradient($font-color-black, $font-color-black), radial-gradient(circle at top left, $font-color-default, $purple);
                            .text {
                                color: $dark-white;
                            }
                        }
                    }

                    &:hover {
                        transform: translateY(-1px);
                        .header > .text {
                            color: $font-color-purple;
                        }
                    }

                    @media (min-width: 990px) and (max-width: 1440px) {
                        .header > .text {
                            font-size: 0.6rem;
                            .count {
                                font-size: 1rem;
                            }
                        }
                    }

                    @media (max-width: 990px) {
                        width: 180px !important; 
                        height: 180px !important;
                    }

                    @media (max-width: 769px) {
                        width: 240px !important; 
                        height: 240px !important;
                    }

                    @media (min-width: 319px) and (max-width: 550px) {
                        width: 180px !important; 
                        height: 180px !important;
                    }
                }
            }
        }
    }

    &-bottom {
        display: flex;

        .ei-form {
            width: 100%;
        }
        .ei-table {
            width: 100%;
            .table {
                height: 60vh;
            }
        }
    }

    @media (max-width: 990px) {
        &-top {
            flex-direction: column;
            margin-bottom: calc(2rem - .5rem);
            &-chart {
                width: 100%;
            }

            &-stat {
                margin-top: calc(2rem - .5rem);
                width: 100%;
                .stat-body {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}